section#intro:after,
section#intro article {
  display: none;
}

section#intro {
  height: auto;
  border-bottom: 1px solid #010b13;
}
.objectFit img {
  display: block;
}

#header nav#gnb {
  background-color: rgba(1, 11, 20, 0.5);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #fff;
}

.wrap_m_m > a > img {
  height: 32px;
  width: auto;
  margin: 0;
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

section#activity .row .item .text {
  color: #010b13;
}

section#activity .row .item {
  box-shadow: none;
}

#gnbbtn.scroll_gnb,
section#intro #sub_gnb ul li a:hover,
section#activity .row .item {
  background: #fff;
  border: 1px solid #010b13;
}

.slide {
  border: 1px solid #010b13;
}

#introduction {
  display: none;
}

section#activity .row .item .btn img {
  filter: brightness(0);
}
section#activity .row .item .text h4 {
  font-size: 32px;
}
section#activity .row .item a {
  font-size: 14px;
  padding: 12px 16px;
  color: #fff;
  background-color: #010b13;
  border: 1px solid #010b13;
  letter-spacing: normal;
  margin-top: 40px;
}
section#activity .row .item a:hover {
  color: #010b13;
  background-color: #fff;
}

.tms-floatingbar-containers {
  padding-top: 64px;
  transform: translateY(-64px);
  overflow-x: hidden;
}
.tms-floatingbar-container {
  padding: 20px;
  background: #dfff5f;
  border: 1px solid #010b13;
  transform: rotate(-2.5deg) scale(1.1);
  overflow: hidden;
  width: 100%;
}
.tms-floatingbar {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  visibility: hidden; /* 초기 로딩 시 숨김 처리 */
}
.tms-floatingbar-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite; /* 기본 속도를 높임 */
}
.tms-floatingbar-content span {
  font-size: 24px;
  display: inline-block;
  padding-right: 40px;
  line-height: 1em;
  color: #0d0d0d;
  text-transform: uppercase;
}

.tms-floatingbar-container2 {
  padding: 20px;
  background: #ff5050;
  border: 1px solid #010b13;
  transform: rotate(2.4deg) translateY(-90%) scale(1.1);
  overflow: hidden;
  width: 100%;
  margin-bottom: 64px;
}
.tms-floatingbar2 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  visibility: hidden; /* 초기 로딩 시 숨김 처리 */
}
.tms-floatingbar-content2 {
  display: inline-block;
  white-space: nowrap;
  animation: marquee2 10s linear infinite; /* 기본 속도를 높임 */
}
.tms-floatingbar-content2 span {
  font-size: 32px;
  display: inline-block;
  padding-right: 40px;
  line-height: 1em;
  color: #0d0d0d;
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marquee2 {
  0% {
    transform: translate3d(-100%, 0, 0); /* 반대 방향으로 시작 */
  }
  100% {
    transform: translate3d(0, 0, 0); /* 원래 위치로 돌아옴 */
  }
}

#footer {
  background-color: #010b13;
}

section .more_btn_type01 {
  border-radius: 0;
}
section#about_us .row .about_p h2 {
  border: 1px solid #1e1e1e;
  padding: 32px;
  width: fit-content;
  transform: translate(0, 0) rotate(0);
  transition: 0.3s ease transform;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

section#about_us .row .about_p h2:hover {
  transform: translate(-32px, 40px) rotate(15deg);
}

section#title .text_wrap {
  bottom: initial;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -35px;
}
section#title {
  aspect-ratio: 1920/420;
  height: auto;
}

section#title:after {
  background: rgba(0, 0, 0, 0.48);
}

aside.bottom_btn {
  left: initial;
  top: initial;
  position: fixed;
  right: 64px;
  bottom: 64px;
  width: auto;
  transform: none;
}
body {
  opacity: 0;
}
body.loaded {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .wrap_m_m > a > img {
    margin: 10px 0;
    height: 24px;
  }
  section#title .text_wrap {
    margin-top: 0;
  }
}
#gnbbtn.scroll_gnb {
  background-color: #010b13;
}

@media screen and (max-width: 767px) {
  #header {
    background: #010b13;
    height: 49px;
  }
  #header > a > img {
    left: 15px;
    height: 20px;
  }
  #header nav#gnb {
    background-color: #fff;
  }
  .tms-floatingbar-container {
    transform: rotate(-2.5deg) translateY(50%) scale(1.1);
  }
  .tms-floatingbar-container2 {
    transform: rotate(2.4deg) translateY(60%) scale(1.1);
  }
}
